body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contnet {
    margin-top: 1rem;
    width: 50%;
    border: solid 1px black;
}

.head{
    margin: 0;
    padding: 0 1rem;
    color: white;
    background-color: #33a;
}

.parrafos {
    padding: 0 1em;
}